@page "/custLogin"
@using CafeEPOS.Shared.Layout
@layout NoLayout
@inject NavigationManager navigation
@using Microsoft.Maui.Controls
@using CafeEPOS.Shared.Services



<PageTitle>Account Login</PageTitle>

<link rel="stylesheet" href="_content/CafeEPOS.Shared/startingScreenStyles.css" />


<img src="_content/CafeEPOS.Shared/images/ImagePlaceholder.png" width="100" height="100" class="logo" alt="Logo" />
<h1 style="text-align:center; padding-top:20px">EPOS System</h1>

<!--Put login title and input boxs in middle of page-->
@* <div class="container-fluid1">
    <h2 style="text-align:center">LOGIN</h2>

    <input type="email" placeholder="Enter Email" @bind="usernameVal" style="text-align:center; width:50%; border-radius:50px" />

    <br />

    <input type="password" placeholder="Enter Password" @bind="passwordVal" style="text-align:center; width:50%; border-radius:50px" @onkeypress="@Enter" />

    <div class="LoginBackContainer">

        <a href="/">
            <button class="backButton">Back</button>
        </a>

        <button class="loginButton" @onclick="login">Login</button>
    </div>
</div> *@

<div class="container-fluid1">
    <h2 style="text-align:center">Register</h2>

    <EditForm Model="@registerModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

        <div>
            <label for="orgName">Organisation Name:</label>
            <InputText id="orgName" @bind-Value="registerModel.OrganisationName" class="input-field" placeholder="Enter Organisation Name" />
            <ValidationMessage For="@(() => registerModel.OrganisationName)" />
        </div>
        
        <div>
            <label for="email">Email:</label>
            <InputText id="email" @bind-Value="registerModel.Email" type="email" class="input-field" placeholder="Enter Email" />
            <ValidationMessage For="@(() => registerModel.Email)" />
        </div>

        <div>
            <label for="password">Password:</label>
            <InputText id="password" @bind-Value="registerModel.Password" type="password" class="input-field" placeholder="Enter Password" />
            <ValidationMessage For="@(() => registerModel.Password)" />
        </div>

        <div class="LoginBackContainer">
            <a href="/">
                <button class="backButton">Back</button>
            </a>
            <button type="submit" class="loginButton">Register</button>
        </div>
    </EditForm>
</div>

<script src="_content/CafeEPOS.Shared/js/site.js"></script>

@code
{
    //Allow me to use JS scripts and call them
    [Inject] IJSRuntime JS { get; set; }

    //Generated service on project creation allows you to know which device user is on
    [Inject] IFormFactor FF { get; set; }

    //Get the values from the userinputs
    public string usernameVal { get; set; }
    public string passwordVal { get; set; }


    //When login button clicked run this method
    public async void login()
    {
        if (FF.GetFormFactor().StartsWith("Web"))
        {
            if (usernameVal == "admin" && passwordVal == "Admin123")
            {
                await JS.InvokeVoidAsync("showAlert", $"You have logged in as {usernameVal}");
            }
            else
            {
                await JS.InvokeVoidAsync("showAlert", "Incorrect username or password");
            }
        }
        else
        {
            if (usernameVal == "admin" && passwordVal == "Admin123")
            {
                await Application.Current.MainPage.DisplayAlert("Alert", "You have logged in :)", "OK");
            }
            else
            {
                await Application.Current.MainPage.DisplayAlert("Alert", "Incorrect username or password", "OK");
            }
        }

        //Make Call to Service to login

    }

    //Allow user to activate login method when enter key is pressed
    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            login();
        }
    }
}
